body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
}

#container {
    display: flex;
}

/* Sidebar */
#sidebar {
    width: 250px;
    background: #1c1c1c;
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
}

#sidebar select, #sidebar input {
    width: 100%;
    margin-bottom: 20px;
}

/* Dashboard */
#dashboard {
    flex-grow: 1;
    padding: 20px;
}

section {
    margin-bottom: 50px;
}

/* Chart boxes */
#ratingHistogram,
#genreBarChart,
#timelineChart,
#typeComparison,
#topCards {
    background: #222;
    padding: 20px;
    border-radius: 8px;
    min-height: 300px;
}
